<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">

<style>
  article.holiday header, th.holiday{
    color: red;
  }
</style>

<section>
  <header>
    <h2>{{calendar.year}}年{{calendar.month}}月のカレンダー</h2>
  </header>
  <table class="pure-table pure-table-bordered">
    <thead>
      <tr>
        <th class="holiday">日</th>
        <th>月</th>
        <th>火</th>
        <th>水</th>
        <th>木</th>
        <th>金</th>
        <th>土</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        {# 一日が日曜日でない時の処理 #}
        {%set firstDay = calendar.0.date.format('w') %}
        {% if firstDay == 0 %}
        {# nothing to do #}
        {% else %}
        {% for i in 0..firstDay - 1 %}
        <td></td>
        {% endfor %}
        {% endif %}

        {% for day in calendar %}
        <td>
          <article class="date{% if day.isHoliday() %} holiday{% endif %}">
            <header>
              <h3>{{day.day}}</h3>
            </header>
            <div class="events">
              {% if day.hasEvent %}
              <ul>
                {% for e in day.events %}
                  <li>{{e}}</li>
                {% endfor %}
              {% endif %}
            </ul>
            </div>
          </article>
        </td>
        {% if day.date.format('w') == 6 %}
        </tr><tr>
        {% endif %}
        {% endfor %}
        {% set lastwday = 6 - calendar.getDay(calendar.count()).date.format('w') %}
        {% if lastwday == 0 %}
          {# nothig to do #}
        {% else %}
          {% for i in 1 .. lastwday %}
            <td></td>
          {% endfor %}
        {% endif %}
      </tr>
    </tbody>

  </table>
</section>
